# SPDX-License-Identifier: Apache-2.0

config BOARD_WAVESHARE_RP2350_RELAY_6CH
	select SOC_RP2350B_M33 if BOARD_WAVESHARE_RP2350_RELAY_6CH_RP2350B_M33 || BOARD_WAVESHARE_RP2350_RELAY_6CH_RP2350B_M33_W
